body {
    font-family: "inter", "serif";
    font-size: clamp(12px, 1.5vw, 18px);
    background-color: #051540;
    height: 100%;
    width: 100%;
    margin:0;
    margin:0px;
    box-sizing: border-box;
    max-width:1440px;
    width: 100%;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo1{
    display: block;
    width: 10%; 
    height: 100%; 
    margin: 0;
    padding-left: 5%;
}

header {
    background-color: #051540;
    text-align: left;
    padding: 2% 5%
}

.UnderstandDplanets {
    background-color: #051540;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex: 0 1 auto;
    align-items: center;
    width: 100%;
    padding: 2% 2%;
    height: auto;
}

.S1image{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.S1image img {
    max-width: 100%;
    height: auto;
}

.S1text{
    width: 50%;
    padding: 5% 5%;
    flex: 1;
}

.Data{
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 60px 5%;
}

a{text-decoration: none;}

.center-horizontally{
    display: block; margin-left: auto;
margin-right: auto; max-width: 100%; width: 80%; height: auto;
}

.video-container{
    position: relative;
    padding-bottom: 50%; 
    height: 30%;
    overflow: hidden;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visualizeDPlanets{
    background-color: #F2F7FF;
    text-align: center;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 80px 5%;
    height: auto;
   
}

.visualizeDPlanets h2 {
    color: #1d4db3;
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 20px;
}

.visualizeDPlanets p {
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.7;
    color: #2d3748;
    font-size: 18px;
}

/* GRID */

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow: auto;
    box-sizing: border-box;
}

/* CARD */

.planet-card1, .planet-card2, .planet-card3, .planet-card4, .planet-card5, .planet-card6, .planet-card7, .planet-card8 {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}


.planet-card1, .planet-card2, .planet-card3, .planet-card4, .planet-card5, .planet-card6, .planet-card7, .planet-card8, :hover {
    transform: translateY(-5px);
}

.planet-card1 img, .planet-card2 img, .planet-card3 img, .planet-card4 img, .planet-card5 img, .planet-card6 img, .planet-card7 img, .planet-card8 img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius:20px;
    height:220px;
    object-fit:cover;
}

/* CARD TEXT */

.planet-info {
    padding: 25px 20px;
    display: none;
}

.planet-info h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #111827;
}

.planet-info p {
    margin: 0;
    color: #1f2937;
    font-weight: 500;
    font-size: 16px;
}


.planetaryFacts{
    background-color: #FFFFFF;
    text-align: left;
    width: 100%;
    padding: 2% 2%;
    height: auto;
}


.planetaryFacts caption{
    text-align: left;
}


table{
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.Questionform{
 background-color: #FFFFFF;
 text-align: center;
 width: 106%;
 padding: 80px 5%;
 height:auto;
 margin-left:auto;
 margin-right: auto;
}

.Questionform form{
    max-width: 1100px;
    margin: auto;
}

.Questionform h2{
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.Questionform p{
    margin-bottom: 40px;
    line-height: 1.7;
}

/* Main container */
.flex-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.flex12{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Row 2 */
.flex34{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex56{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

/* Equal width columns */
.flex1,
.flex2,
.flex3,
.flex4,
.flex5,
.flex6{
    flex: 1;
}

.flex6 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex61, .flex62 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    display: flex;
    margin-bottom: 8px;
    font-weight: 600;
    color: #051540;
}

input,
select,
textarea{
    padding: 14px;
     width:90%;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

input:focus,
select:focus,
textarea:focus{
    border-color: #2563eb;
}

textarea{
    min-height: 100px;
    resize: vertical;
}

.contactU{display: flex; gap:10%}
.feedback{display: flex; gap:10%}


.form-group,
.checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex61word, .flex62word{text-align: left;}

h2{ color: blue
}

.footer{background-color: #051540;
    color: white;
    width:105%;
    padding: 2% 2%;
    height: auto;
}

.footer a{
    color: white;}

.footer1{padding-bottom:  5%;}

.footer-bottom{display: flex; 
    flex-direction: row;
    justify-content:space-between;
    padding-top: 2%;
    width:105%;
    border-top: 1px solid white}

nav{
    display:flex; 
    flex-direction: row;
    justify-content:space-between;
    text-wrap: nowrap;
}

.S1buttons a{
    text-decoration: none;
}

.S1buttons{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
}

.S1buttons:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.button1{
    background-color: #1259fff0;
    color: white;
    border: none;
    white-space: nowrap;
}

.button2{
    background-color: #051540;
    color: white;
    border: 2px solid rgb(237, 237, 237);
    white-space: nowrap;
}

.button1,
.button2{
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #0a3a80;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

.button3{
    background-color: #0c3594f0;
    color: white;
    border: none;
    padding: 2% 5%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    width: 30%;
    margin:5% 0%;
    transition: 0.3s ease;
    font-weight: 600;
}

.S4button{
    text-align: left;
    margin-top: 20px;
}

.S1image{
    width: 10%;
    height:auto;
    padding: 5% 5%;
}

.THrow{
    background-color:rgb(5, 5, 211);
    color: white;
}

.THcol{
    background-color: #d0e4fffb;
}

td{background-color: rgb(245, 245, 245)}

th, td { padding: 1%;}

.red-star{
    color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------- */


@media (max-width: 480px){

body{
    font-size: 14px;
    padding: 0;
}


header {
        display: flex;
        justify-content: center;
        align-items: center;
    }


.logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.logo1 {
        width: auto;  
        height: auto;  
        max-width: 60%;
    margin-left: 0%;}


.S1image{
    width: 50%;
    height:50%;
} 

.UnderstandDplanets{
    background-color: #051540;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    padding: 10% 5%;
}


.Data{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding: 5% 2%;;
    height: 100%;;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    .planetaryFacts{display: none;
    }

    .column {
    width: 100%;
    float: none;}




.gridcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.planet-card9 {display:none;}

.planet-info {
    display: block;
}

.flex1, .flex2 , .flex3, .flex4, .flex5, .flex6 { 
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    box-sizing: border-box;
    width: 100%;
}
   .contactU{display: flex; gap:20%}

   .S1buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2%;
   }

   .button1, .button2 {width: 100%;
white-space: nowrap;}


    .button3{width: 90%; margin: 5% 5%;}          
   
    
    .footer2{display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    width: 40%;
    padding: 0%;
    }

   .flex12, .flex34, .flex56 {display: flex; flex-direction: column;}

   .flex6{display: flex; flex-direction: column;}

   .contactU, .feedback{display: flex; flex-direction:row; justify-content: center;}


   .flex12, .flex34, .flex56 {display: flex; flex-direction: column;}

   .flex6{display: flex; flex-direction: column;}

   .contactU, .feedback{display: flex; flex-direction:row; justify-content: center;}


    .S1buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
         gap: 8px;
        flex-wrap: nowrap;
    }

   .button1, .button2 {width: 100%;
white-space: nowrap;}

.button1,
    .button2{
        padding: 10px 12px;
        font-size: 12px;
        white-space: nowrap;
    }

    .button3{width: 90%; margin: 5% 5%;}          

.footer-bottom{display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    width: 100%;
    padding: 0%;
    }

    .footerlinks{display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    width: 100%;
    padding: 0%;
    }

}

